In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./datasets/train.csv")

In [4]:
data.head()

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings
0,0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11
1,1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11
2,2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6
3,3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10
4,4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90615 entries, 0 to 90614
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              90615 non-null  int64
 1   Sex             90615 non-null  object
 2   Length          90615 non-null  float64
 3   Diameter        90615 non-null  float64
 4   Height          90615 non-null  float64
 5   Whole weight    90615 non-null  float64
 6   Whole weight.1  90615 non-null  float64
 7   Whole weight.2  90615 non-null  float64
 8   Shell weight    90615 non-null  float64
 9   Rings           90615 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 6.9+ MB

In [6]:
gender = pd.get_dummies(data['Sex'], prefix="Sex")

In [8]:
data.join(gender)

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings,Sex_F,Sex_I,Sex_M
0,0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11,1,0,0
1,1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11,1,0,0
2,2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6,0,1,0
3,3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10,0,0,1
4,4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90610,90610,M,0.335,0.235,0.075,0.1585,0.0685,0.0370,0.0450,6,0,0,1
90611,90611,M,0.555,0.425,0.150,0.8790,0.3865,0.1815,0.2400,9,0,0,1
90612,90612,I,0.435,0.330,0.095,0.3215,0.1510,0.0785,0.0815,6,0,1,0
90613,90613,I,0.345,0.270,0.075,0.2000,0.0980,0.0490,0.0700,6,0,1,0
90614,90614,I,0.425,0.325,0.100,0.3455,0.1525,0.0785,0.1050,8,0,1,0

In [12]:
data.drop(['id','Sex'], axis=1, inplace=True)

In [15]:
data.columns

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1',
       'Whole weight.2', 'Shell weight', 'Rings'],
      dtype='object')

In [19]:
y = data[['Rings']]
X = data[['Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1',
       'Whole weight.2', 'Shell weight']]

In [38]:
import matplotlib.pyplot as plt

       Rings
0         11
1         11
2          6
3         10
4          9
...      ...
90610      6
90611      9
90612      6
90613      6
90614      8

[90615 rows x 1 columns]

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [24]:
model = LogisticRegression()

In [27]:
model.fit(X_train, y_train)

C:\Users\sanaya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sanaya\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
y_predict = model.predict(X_test)

In [35]:
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_absolute_error

In [36]:
mean_squared_log_error(y_test, y_predict)

0.034928078509025406

In [37]:
mean_absolute_error(y_test, y_predict)

1.401368426860895